  {% extends "base/tournament_base.html" %}
  {% load static %}

  {% block body %}

  <div class="section-19">
    <div class="container-49 w-container">
      <div id="w-node-95be3063ab76-43568fdc" class="leaguecontent"><img src="{% static '/project-static/images/apps.50528.68332208580498659.9222b095-8101-4531-b386-33547ee9944f.jpg' %}" loading="lazy" width="106" alt="" class="leaguecover"></div>
    </div>
    <div class="container-50 w-container">
      <div id="w-node-6f9d6b0e43cf-43568fdc" class="league-name-box">
        <h4 class="header"> Fortnite Leagues</h4>
        <h4 class="header">Tournaments</h4>
      </div>
      <div class="addcontent-box">
      <form method="POST" action="{% url 'core:mytournament' %}" name="new-tournament">
        {% csrf_token %}
        <input type="image" alt="submit" src="{% static '/project-static/images/clarity_add-line.png' %}" loading="lazy" class="image-68" name="New Tournament">
      </form>
      </div>
    </div>

  

  {% for tournament, difference in tournaments %}
    <div class="container-51 w-container">
      <div class="tournament-info-box">
        <div class="tournamentname-schedule">
          <h4 class="tournamentname">{{ tournament.game_name }}</h4>
          <h6 class="schedule-info">Scheduled {{difference}} hours from now</h6>
        </div>
        <div class="tournament-mode-info">
          <h1 class="td-mode">{{ tournament.player_amount }} V {{ tournament.player_amount }}</h1>
          <h1 class="td-mode">{{ tournament.number_of_teams}} teams</h1>
          <h1 class="td-mode">{{ tournament.game_length }}min</h1>
        </div>
        <div class="div-block-127">
          <p class="tournamentdescription">{{ tournament.description }}</p>
        </div>
        <form method="POST" action="{% url 'core:mytournament' %}" name="team-challenge">
          {% csrf_token %}
          <div class="action-button">
            <input type="hidden" name="Tournament-To-Edit" value="{{tournament.pk}}">
            <button type="submit" name="Cancel Tournament" value="Cancel Tournament" class="actionbutton _1 w-button" onclick="return confirm('Are you sure you want to cancel this tournament?');">Cancel Tournament</button>
            <button type="submit" name="Edit Tournament" value="Edit Tournament" class="actionbutton action w-button">Edit Tournament</button>
            {% comment %} <a href="#" class="actionbutton _1 w-button">Cancel Tournament</a>
            <a href="#" class="actionbutton et w-button">Edit Tournament</a> {% endcomment %}
          </div>
        </form>
      </div>
    </div>
  {% endfor %}


  </div>
  {% endblock %}