{% extends "base/tournament_base.html" %}
{% load static %}

{% block body %} 
 {% for tournament in tournaments %}
  <div class="container-51 w-container"><img src="{% static '/project-static/images/mwJsSm7i_400x400.jpg' %}" loading="lazy" width="61" alt="" class="teamlgo">
    <h3 class="team-nme">{{ tournament.creator }}</h3>
    <h5 class="detail">Has challenged to one of his tournament</h5>
    <h5 class="league-nme">{{tournament.game_name}}</h5>
    <div class="tournament-info-box">
      <div class="tournamentname-schedule">
        <h4 class="tournamentname">{{ tournament.name }}</h4>
        <h6 class="schedule-info">Scheduled 4 hours from now</h6>
      </div>
      <div class="tournament-mode-info">
        <h1 class="td-mode">{{tournament.player_amount}} V {{tournament.player_amount}}</h1>
        <h1 class="td-mode">{{ tournament.number_of_teams}} teams</h1>
        <h1 class="td-mode">{{ tournament.game_length }} min</h1>
      </div>
      <div class="div-block-127">
        <p class="tournamentdescription">{{ tournament.description }}</p>
      </div>
      <div class="action-button"><a href="#" class="actionbutton _3 w-button">DECLINE CHALLENGE</a><a href="#" class="actionbutton et _2 w-button">ACCEPT CHALLENGE</a></div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
